<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/stars.css">

    <div class="container">
        <div class="card mb-3">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= order.posts.title %>
                    </h5>

                    <p class="card-text">
                        Cantidad:<%= order.quantity%>

                            <br>
                            Precio: <%= order.price %>$
                                </br>
                    </p>
                    <p class="card-text">
                        Asiento: <%=order.seat%>
                            <%=order.letter%> Seccion: <%=order.section%>
                    </p>

                    <form action="/posts/rapid_cash/<%=order.id%>" method="POST">
                        <button class="btn btn-primary mb-2">Crear Orden</button>
                    </form>
                    <!-- <form action="/posts/rapid_card/<%=order.id%>" method="POST">
                                        <button class="btn btn-primary">Pay with Card</button>
                                    </form> -->
                </div>
            </div>
        </div>
    </div>